---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Parcours professionnel et alternance">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="À propos de moi"
      description="En parallèle de mes études, je suis alternant au sein du service de lutte contre la cybercriminalité (SLCC) du groupe La Poste."
    />
    <PageHeading
      description="Mon objectif est de travailler en cybersécurité au Japon. 🇯🇵"/>
    
      <img src="/assets/images/about.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Expérience professionnelle
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          )
        })
      }
    </div>
  </section>
</Layout>
